body {
  padding: 0;
  margin: 0;

  background-color: #000;
}

.control-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);

  /* This doesn't work in landscape */
  width: 80vw;
  height: 80vw;
  max-width: 500px;
  max-height: 500px;

  border-radius: 50%;

  /* Create the wheel with gradient, we can render div on top of it to make it a wheel */
  /* With multiple colors set to the gradient it is more usable than with just rgb */
  background: conic-gradient(
    from -80deg,
    red,
    yellow,
    lime,
    aqua,
    blue,
    magenta,
    red
  );

  cursor: pointer;
}

.control-toggle {
  --button-inset: 15vw;

  position: absolute;
  inset: var(--button-inset);
  height: calc(100% - var(--button-inset) * 2);
  width: calc(100% - var(--button-inset) * 2);

  border-radius: 50%;
  border: none;

  cursor: pointer;

  background-color: #000;

  @media (min-width: 625px) {
    width: 300px;
    height: 300px;
    inset: 100px;
  }
}

.control-toggle img {
  width: 50px;
  height: auto;
  /* Use filter to invert the svg to white, not the most performant way, but works for this */
  filter: brightness(0) invert(1);
}

.control-toggle .toggled-on {
  filter: none;
}
